.navbar-inner {
    text-align: center;
}

.hipster .navbar-inner,
.devops .navbar-inner,
.regular .navbar-inner {
      box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}

@media (min-width: 768px) {
  .navbar .nav, .navbar .nav > li {
      float: none;
      display: inline-block;
      vertical-align: top
  }
}

.navbar-inverse {
    border: none;
    background: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
    font-size: 18px;
}

.post img {
    max-width: 100%;
}

html {
    position: relative;
    min-height: 100%
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

header {
        background: url(../images/head-main-bg.jpg);
}

header .logo {
  margin-top: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #d75636;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-right: 20px;
  display: block;
}

header .gotit {
    margin: 0 auto;
    width: 80px;
    position: relative;
    top: -60px;
    margin-bottom: -60px
}

header .code {
    background: url(../images/code.png);
    background-repeat: no-repeat
}

header .java {
    position: absolute;
    width: 682px;
    left: 10%;
    top: 80px
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    color: #fff;
    background: url(../images/gray-bg.gif);
    font-size: 0.9em;
}

.hipster footer,
.devops footer,
.regular footer {
  box-shadow: 0px -4px 8px 0px rgba(0,0,0,0.5);
}

footer .info h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #d75636;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: inline;
}

footer .heading {
  margin: 40px 0 20px 0;
}

footer .copy {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 0 10px 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 0.7em;
    color: #d75636;
    background-color: #333;
}

footer .logo img{
    padding-top: 40px;
    height: 200px;
}

#content {
    padding-bottom: 340px
}

@media (max-width: 1000px) {
    .body-image {
        display: none;
    }
    .about-container {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    pre {
        position: relative;
        width: 130%;
        left: -15%;
    }
}

code, kbd, pre, samp { font-family: 'Source Code Pro',Menlo,Monaco,Consolas,"Courier New",monospace ; }
.highlight pre { background: url(../images/head-main-bg.jpg); }
.highlight  { /*background: #272822;*/ color: #f8f8f2 }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #86A3B7 } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #C4D3D7 } /* Name */
.highlight .o { color: #C4D3D7 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #86A3B7 } /* Keyword.Declaration */
.highlight .kn { color: #d75636 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #86A3B7 } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #C4D3D7 } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #9CCC73 } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #9CCC73 } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #9CCC73 } /* Name.Exception */
.highlight .nf { color: #d75636 } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #9CCC73 } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #d75636 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #d75636 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #788b52  } /* Literal.String.Backtick */
.highlight .sc { color: #788b52 } /* Literal.String.Char */
.highlight .sd { color: #788b52 } /* Literal.String.Doc */
.highlight .s2 { color: #788b52 } /* Literal.String.Double */
.highlight .se { color: #788b52 } /* Literal.String.Escape */
.highlight .sh { color: #788b52 } /* Literal.String.Heredoc */
.highlight .si { color: #788b52 } /* Literal.String.Interpol */
.highlight .sx { color: #788b52 } /* Literal.String.Other */
.highlight .sr { color: #788b52 } /* Literal.String.Regex */
.highlight .s1 { color: #788b52 } /* Literal.String.Single */
.highlight .ss { color: #788b52 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

pre code {
  color: #c1a9af;
  font-size: 1em;
}

a {
  color: #d75636;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #745252;
  text-decoration: none;
}

.post-content a {
  text-decoration: underline;
}

.post-content a:hover {
  text-decoration: none;
}

.post-content p img {
}

.pagination a {
  font-weight: bold;
  background: #dfe2e5;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
}

.read-more {
  font-weight: bold;
}

.post-meta {
  color: #999;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  position: relative;
  top: 35px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 40px 0 25px 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

.articles-list li {
  display: block;
}

#content h1,
#content h2,
#content h3,
#content h4 {
  font-family: 'Slabo 27px', serif;

  /*text-shadow: 2px 2px #B1B1B1;*/
}

#content p {
  margin: 0 0 30px;
}

.transparent {
  opacity: 0.5;
  transition: opacity 1s, visibility 1s;
}

blockquote {
  padding: 10px 20px 1px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #baa0a0;
  background-color: #fffbf9;
}

#content .disclaimer {
  border: 1px solid rgb(171, 91, 91);
  background: rgba(171, 58, 58, 0.1);
  padding: 20px;
  font-size: 1em;
  color: rgb(171, 91, 91);
  margin-bottom: 10px;
}

#content .disclaimer h1 {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgb(171, 91, 91);
}

#content table > thead > tr > th,
#content table > tbody > tr > th,
#content table > tfoot > tr > th,
#content table > thead > tr > td,
#content table > tbody > tr > td,
#content table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

#content table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

#content table > caption + thead > tr:first-child > th,
#content table > colgroup + thead > tr:first-child > th,
#content table > thead:first-child > tr:first-child > th,
#content table > caption + thead > tr:first-child > td,
#content table > colgroup + thead > tr:first-child > td,
#content table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

#content table > tbody + tbody {
  border-top: 2px solid #ddd;
}

body.devops {
  background: url(../images/devops-bg.jpg);
}

body.hipster {
  background: url(../images/hipster-bg.jpg);
}

body.regular {
  background: url(../images/regular-bg.jpg);
}

.devops #content .container,
.hipster #content .container,
.regular #content .container {
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 30px;
}

.type-hipster a {
  padding-left: 35px;
  background-image: url(../images/hip-icon.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-y: 6px;
}
.type-devops a {
  padding-left: 30px;
  background-image: url(../images/devops-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 3px;
  background-position-y: 5px;
}

pre {
  padding: 18px;
  border: 1px solid #564d4d;
}

kbd {
  background: #fff;
  color: #666;
  font-size: 0.8em;
  font-weight: 400;
  border: 1px solid #888;
}

.skills img{
  width: 45px;
  padding-top: 5px;
}

.skills {
  font-size: 0.8em;
}

.skills h3 {
  margin: 0;
}

.skills .row {
  min-height: 100px;
}

.followme {
  padding: 20px;
  border: 1px solid #d75636;
  font-size: 0.8em;
}

.related-post {
  position: relative;
  width: 124.7%;
  left: -12.35%;
  background: #333;
  list-style-type: none;
  padding: 20px 12%;
  color: #888;
  font-size: 0.8em;
}

.related-post a{
  color: #fff;
  font-family: 'Slabo 27px', serif;
  text-decoration: none;
  font-size: 1.5em;
}

.related-post a:hover{
  text-decoration: underline;
}

.text-footer {
      margin-top: 40px;
      font-size: 0.9em;
      color: #bbb;
}

.menu-footer {
  margin-top: 40px;
}
.menu-footer ul {
  list-style-type: none;
}
.menu-footer a {
  font-weight: bold;
}
footer .social-links {
  font-size: 1.2em;
  font-family: 'Slabo 27px', serif;
}
.jssocials-share-link { border-radius: 50%; }
#shareRoundIcons {
  text-align: center;
  font-size: 0.8em;
}
