---
layout: default
---

<div class="home">
    {% for post in paginator.posts %}

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <h1>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="holder">
                <div class="month green">
                    <p>{{ post.date | date: "%B"}}</p>
                </div>
                <div class="day">
                    <p>{{ post.date | date: "%-d"}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            {{ post.excerpt }}
            <a class="post-link read-more" href="{{ post.url | prepend: site.baseurl }}">Read more →</a>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">← Older</a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Newer →</a>
        {% endif %}
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
