<header>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><img src="{{ site.baseurl }}/images/menu-blog.png"></a></li>
                        <li><a href="/projects/"><img src="{{ site.baseurl }}/images/menu-projects.png"></a></li>
                        <li><a href="/contacts/"><img src="{{ site.baseurl }}/images/menu-contacts.png"></a></li>
                        <li><a href="/about/"><img src="{{ site.baseurl }}/images/menu-about.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="java">
        <img src="{{ site.baseurl }}/images/java-bg.png">
    </div>

    <div class="logo">
        <div class="container">
            <div class="row code">
                <div class="col-md-offset-1 col-md-2">
                    <img class="body-image" src="{{ site.baseurl }}/images/ima.png">
                </div>
                <div class="col-md-9 about-container"><img style="padding-top: 40px;" src="{{ site.baseurl }}/images/my-name-is.png"></div>
            </div>
        </div>
    </div>

    <div class="gotit">
        <a href="#c"><img src="{{ site.baseurl }}/images/gotit.png"></a>
    </div>
</header>
